---
- hosts: all
  become: yes
  tasks:
    - get_url:
        dest: /etc/yum.repos.d/ICINGA-release.repo
        url: https://packages.icinga.com/fedora/ICINGA-release.repo
        checksum: sha256:b2caeeff4b91f9551c0426b1632300f58cab211a664e3cc5ae5414d50fb27c96
    #- get_url:
    #    dest: /etc/yum.repos.d/ICINGA-snapshot.repo
    #    url: https://packages.icinga.com/fedora/ICINGA-snapshot.repo
    #    checksum: sha256:6b8d1f27bf6e0b06ef90ffbd98084208838e0c99958372c03dbc9601ff4a478e

    - dnf:
        name: icingadb-redis
    - service:
        name: icingadb-redis
        state: started
        enabled: yes

    - dnf:
        name: icinga2
    - dnf:
        name: icinga2-selinux
    - shell: icinga2 api setup
      args:
        creates: /var/lib/icinga2/certs/ca.crt
      register: api_setup
    - file:
        path: /etc/icinga2/features-enabled/icingadb.conf
        state: link
        src: /etc/icinga2/features-available/icingadb.conf
      register: icingadb_feature
    - copy:
        dest: /etc/icinga2/conf.d/api-users.conf
        content: |
          object ApiUser "iw2" {
            password = "iw2"
            permissions = [ "*" ]
          }
      register: api_user
    - when: api_setup.changed or icingadb_feature.changed or api_user.changed
      service:
        name: icinga2
        state: stopped
    - service:
        name: icinga2
        state: started
        enabled: yes

    - dnf:
        name: mariadb-server
    - service:
        name: mariadb
        state: started
        enabled: yes
    - dnf:
        name: python3-PyMySQL

    - dnf:
        name: icingadb
    - service:
        name: icingadb
        state: started
        enabled: yes

    - mysql_db:
        name: icingadb
        state: present
        login_unix_socket: /var/lib/mysql/mysql.sock
      register: dbicinga
    - when: dbicinga.changed
      mysql_db:
        name: icingadb
        state: import
        target: /usr/share/icingadb/schema/mysql/schema.sql
        login_unix_socket: /var/lib/mysql/mysql.sock
    - mysql_user:
        name: icingadb
        password: CHANGEME
        priv: 'icingadb.*:ALL'
        append_privs: yes
        login_unix_socket: /var/lib/mysql/mysql.sock

    - dnf:
        name: icingaweb2
    - dnf:
        name: icingaweb2-selinux
    - service:
        name: httpd
        state: started
        enabled: yes

    - copy:
        dest: /icingaadmin.sql
        content: |
          insert into icingaweb_user values('icingaadmin',1,
          '$2y$10$38ttWP3MFfQ2c5GtPEdBFuJbmgb9y5Jp9HGxeTYhYDE.5irEFpIfK',now(),now());
    - mysql_db:
        name: icingaweb2
        state: present
        login_unix_socket: /var/lib/mysql/mysql.sock
      register: dbiw2
    - when: dbiw2.changed
      loop:
        - /usr/share/icingaweb2/schema/mysql.schema.sql
        - /icingaadmin.sql
      mysql_db:
        name: icingaweb2
        state: import
        target: '{{ item }}'
        login_unix_socket: /var/lib/mysql/mysql.sock
    - mysql_user:
        name: apache
        priv: 'icingaweb2.*:ALL'
        append_privs: yes
        login_unix_socket: /var/lib/mysql/mysql.sock

    - dnf:
        name: icingadb-web
    - seboolean:
        name: httpd_can_network_redis
        state: yes
        persistent: yes
    - seboolean:
        name: httpd_can_network_connect
        state: yes
        persistent: yes
    - mysql_user:
        name: apache
        priv: 'icingadb.*:ALL'
        append_privs: yes
        login_unix_socket: /var/lib/mysql/mysql.sock

    - file:
        path: /etc/icingaweb2/modules/icingadb
        state: directory
    - loop:
        - file: authentication
          cfg: |
            [icingaweb2]
            backend = "db"
            resource = "icingaweb_db"
        - file: config
          cfg: |
            [global]
            show_stacktraces = "1"
            show_application_state_messages = "1"
            config_resource = "icingaweb_db"
            [security]
            use_strict_csp = "0"
            [logging]
            log = "php"
            level = "ERROR"
            application = "icingaweb2"
        - file: groups
          cfg: |
            [icingaweb2]
            backend = "db"
            resource = "icingaweb_db"
        - file: resources
          cfg: |
            [icingaweb_db]
            type = "db"
            db = "mysql"
            host = "localhost"
            dbname = "icingaweb2"
            username = "apache"
            charset = "utf8"
            use_ssl = "0"
            [icingadb]
            type = "db"
            db = "mysql"
            host = "localhost"
            dbname = "icingadb"
            username = "apache"
            charset = "utf8"
            use_ssl = "0"
        - file: roles
          cfg: |
            [Administrators]
            users = "icingaadmin"
            permissions = "*"
            groups = "Administrators"
            [AI]
            users = "AI"
            permissions = "icingadb/*,module/icingadb"
            refusals = "icingadb/object/show-source"
        - file: modules/icingadb/commandtransports
          cfg: |
            [Icinga]
            transport = "api"
            host = "127.0.0.1"
            port = "5665"
            username = "iw2"
            password = "iw2"
        - file: modules/icingadb/config
          cfg: |
            [icingadb]
            resource = "icingadb"
            [redis]
            tls = "0"
        - file: modules/icingadb/redis
          cfg: |
            [icingadb]
            resource = "icingadb"
            [redis1]
            host = "127.0.0.1"
      copy:
        dest: '/etc/icingaweb2/{{ item.file }}.ini'
        content: '{{ item.cfg }}'
